# hidden files or folders
__*__
.*

# exception
!.gitignore
!.gitkeep

# generated data files
*.xlsx

*.csv

vrac
doc/sources/*
!doc/sources/images

*.pdf
*.log

test_*
tmp_*

node_modules
